{% extends 'base.html' %}

{% block content %}

<br>

<div class="container">
  <h2 style="font-weight: bold; color:blue">Welcome to Product Recommendation System</h2>
</div>

<div class="container">

    <p style="font-weight: bold; color:black">Enter category</p>

    <form action="{{url_for('login')}}">
      <input type="text" name="name" class="form-control">
      <input type="submit" class="btn btn-info" value="LOGIN">
    </form>

  </div>
</div>

<div class="container">
</div>


{% endblock %}
